:root {
    --bg_color: white;
    --base_color: black;
    --red_color_touch: #8b0000
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg_color: black;
        --base_color: white;
        --red_color_touch: #580f11;
        /* #6f1113;*/
    }

    html,
    body {
        color: var(--base_color) !important;
        background-color: var(--bg_color) !important;

    }

    a {
        background-color: var(--bg_color) !important;
        color: var(--base_color) !important;
    }

    .offcanvas,
    .offcanvas-end {
        background-color: var(--bg_color);
        color: var(--base_color);
        width: 40rem;
    }

    .text-muted {
        color: white !important;
    }

    .anchor-define {
        box-shadow: 0px 2px 1rem var(--base_color) !important;
    }

    .inactive {
        text-decoration-thickness: 6px !important;
    }

    .input-group-text,
    .form-control {
        color: var(--base_color) !important;
        background-color: var(--red_color_touch);
    }

    .form-control:focus {
        background-color: var(--red_color_touch);
    }

    ::placeholder {
        color: var(--base_color) !important;
        opacity: 50% !important;
    }

    .modal-content {
        color: var(--base_color);
        background-color: var(--bg_color);

        border-width: 2px;
        box-shadow: 0px 2px 1rem var(--base_color) !important;
    }
}


html {
    scroll-padding-top: 14rem;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--red_color_touch);
    --bs-tooltip-color: white;
}

label {
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-block
}

.navbar {
    background-color: var(--red_color_touch) !important;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
    position: fixed;
    top: 2%;
    right: 2%;
    left: 2%;
    z-index: 2;
}

section {
    margin-top: 4rem;
}

strong {
    font-size: 2rem;
}

.testmode {
    border-width: 2px;
    border-style: solid;
    border-radius: 1rem;
    padding: 1% 5%;
    animation: animate-box 2s infinite;
}

@keyframes animate-box {
    from {
        box-shadow: 0 1px 0rem black;
    }

    to {
        box-shadow: 0 1px 3rem black;
    }

}

.main-container {
    margin: 12rem 4%;
}

.card {
    text-align: center;
}

.offer {
    width: 50%;
    margin: auto;
}

.main_sections {
    font-size: 3rem;
}

.anchor-define {
    width: unset;
    text-decoration: unset;
    margin: auto;
    width: 25rem;
    display: inline-block;
    text-align: center;

}

#offers a {
    margin-top: 4rem;
    margin-bottom: 8rem;
}

#get_subscription:hover {
    border-color: var(--red_color_touch);
    border-width: 2px;
}

#get_access:hover {
    border-color: var(--red_color_touch);
    border-width: 2px;

}

#get_product:hover {
    border-color: var(--red_color_touch);
    border-width: 2px;

}

.input-group-text {
    width: 8rem;
}

input {
    min-width: 8rem !important;
}

.offcanvas,
.offcanvas-end {
    width: 40rem !important;
}

.simplerow span {
    width: unset;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--red_color_touch) !important;
}


.modal-dialog {
    height: 100%;
    margin: 14rem auto;
    text-align: center;
}

.modal-body p {
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 1rem;
}



.list-group-item:focus {
    background-color: var(--red_color_touch) !important;
    color: white !important;

}

#owner_info {
    background-color: var(--red_color_touch) !important;
    color: white !important;
    padding: 2rem;
    font-size: 1.4rem;
}

.simple_divider {
    margin-bottom: 4rem;
}


@media (max-width: 700px) {
    #nav_list_group {
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    .main-container {
        margin: 20rem 4%;
    }

}

@media (max-width: 500px) {

    html {
        scroll-padding-top: 20rem;
    }

}

@media (max-width: 500px) {

    .input-group-text {
        min-width: 8rem !important;
    }

}

.anchor-define {
    width: 20rem;
    animation: borderanimate 2s infinite;
    animation-timing-function: ease-in-out;

}

.arrow-animate {
    animation: pointto 2s infinite;
    animation-timing-function: ease-in-out;

}

.animate_function {
    animation: animatefunction 2s alternate;
    animation-timing-function: ease-in-out;
}

@keyframes pointto {

    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(20%);
    }
}

@keyframes borderanimate {

    from {

        border-color: var(--red_color_touch);
        border-width: 4px;
        border-style: solid;
    }

    to {

        border-width: 4px;
        border-style: solid;
    }
}

@keyframes animatefunction {

    from {
        font-size: 2rem;
        transform: translateX(100%);

    }

    to {}
}


@keyframes showup {

    from {
        opacity: 100%;
        transform: translate(500%, -600%)
    }

    to {
        opacity: 0%;
        transform: translate(500%, -600%)
    }
}

.showup_item {
    animation: showup 2s infinite;
    animation-timing-function: ease-in-out;
}

.inactive {
    text-decoration: line-through;
    text-decoration-color: var(--red_color_touch);
    text-decoration-thickness: 4px;
}

.inactive .anchor-define {
    text-decoration: unset;
    text-decoration-color: unset;
    text-decoration-thickness: unset;
}